.title-menu {
  font-size: 32px;
}

.off {
    text-decoration: none;
    color: white;
}

.off:hover {
    color: #6b6b6b;
}
@media only screen and (max-width: 768px) {
  .title-menu {
    font-size: 12px;
    
  }
}