.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 1rem;
}

.form-container label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
}

.form-container button[type="submit"] {
    background-color: #4d4d4d;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}
.form-container button[type="submit"]:hover {
    background-color: #1c1c1c;
}

.form-container p {
    margin-top: 0.5rem;
    color: rgb(211, 211, 211);
}

.error-message {
    color: red;
    margin-top: 5px;
}