button.auth-button {
  background-color: #1b1b1b;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

button.auth-button:hover {
  opacity: 0.8;
}

button.auth-button:focus {
  outline: none;
}

.auth-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
}